@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#root {
  margin: 0;
  font-size: 1.2rem;
  color: white;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

body {
  background: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #0a263d;
}

button {
  font-size: 1.2rem;
}

button:active {
  position: relative;
  top: 1px;
  right: 1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
  background: -webkit-linear-gradient(top, #f3edc4 30%, #d4bd4f 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider img {
  width: 20%;
  height: 50%;
}

.dividermirror {
  transform: scaleX(-1);
}

.close {
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 0.5rem;
  transition: transform 0.3s ease-out;
}

.close:hover {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  h2 {
    font-size: 1.8rem;
  }
  .close{
    width: 40px;
  }
}
