.systemtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vw;
  margin-top: 5%;
  background: url(../images/battlesystem/systemtitlebox.png) center no-repeat;
  background-size: contain;
  z-index: 1;
}

.systemtitle h1 {
  text-align: center;
  padding: 3%;
  font-weight: bold;
  font-size: 2.5vw;
  margin: 0;
}

.battlesystemdivideline {
  display: block;
  width: 100%;
  height: 3vw;
  background: url(../images/battlesystem/battlesystemdivideline.png) center no-repeat;
  background-size: cover;
}

.battlesystem {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: url(../images/battlesystem/battlesystembg.jpg);
  background-size: cover;
}

.leaveshadow {
  width: 100%;
  background: url(../images/battlesystem/battlesystemshadow.png) no-repeat;
  background-size: 100% 100%;
}

.battlemethod {
  display: flex;
  margin: 5% 14% 0%;
  justify-content: space-around;
  white-space: nowrap;
}

.battlesystembutton {
  font-family: "Noto Serif TC", serif;
  width: 100%;
  border: none;
  font-size: min(50px,5vw);
  transition-duration: 0.4s;
}

.systembtnactive {
  background: url(../images/battlesystem/battlesystembuttonafter.png) center no-repeat;
  background-size: contain;
  color: black;
}

.systembtninactive {
  background: url(../images/battlesystem/battlesystembuttonbefore.png) center no-repeat;
  background-size: contain;
  color: rgb(209, 168, 106);
}

.battlemethod button:hover {
  background: url(../images/battlesystem/battlesystembuttonafter.png) center no-repeat;
  background-size: contain;
  width: 100%;
  color: black;
}

.battlemethod button:active {
  box-shadow: none;
}

.battlemethoddetail {
  display: flex;
  justify-content: center;
  padding: 5% 5%;
}

.battlemethoddetail .battledescription {
  display: flex;
  align-items: flex-end;
  width: 50%;
  margin-right: -10vw;
  z-index: 1;
}

.battlemethoddetail .battledescription .textbox {
  background: url(../images/battlesystem/battlesystemtextbox.png) no-repeat;
  background-size: 100% 100%;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.battlemethoddetail .battledescription .textbox p {
  margin: 0;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
  padding: 7% 2% 6% 4%;
  word-wrap: break-word;
  width: 80%;
}

.battlevideo {
  position: relative;
  border: 0.8vw solid;
  border-image: url(../images/gameplaygoldenborder.png);
  border-image-slice: 30%;
  border-image-width: 80px 80px;
  width: 50%;
  height: 26.5vw;
}

.battlemethoddetail video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.animate__fadein {
  position: relative;
  animation: fadein ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(3px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

.animate__fadeinleft {
  position: relative;
  animation: fadeinleft ease;
}

@keyframes fadeinleft {
  0% {
    transform: translateX(-10%);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

.animate__fadeinright {
  position: relative;
  animation: fadeinright ease;
}

@keyframes fadeinright {
  0% {
    transform: translateX(10%);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

.animate__fadeintop {
  position: relative;
  animation: fadeintop ease;
}

@keyframes fadeintop {
  0% {
    transform: translateY(-10%);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes fadeinbottom {
  0% {
    transform: translateY(10%);
    opacity: 0;
    filter: blur(3px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0px);
  }
}

@media (max-width: 700px) {
  .systemtitle {
    height: 25vw;
  }

  .systemtitle h1 {
    font-size: 6vw;
  }

  .battlemethod {
    margin: 5% 0%;
  }

  .battlesystembutton {
    height: 10vw;
  }

  .battlemethoddetail {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 5% 10%;
  }

  .battlevideo {
    width: 100%;
    height: 53vw;
  }

  .battlemethoddetail .battledescription {
    width: 100%;
    margin-top: -10vw;
  }

  .battlemethoddetail .battledescription .textbox p {
    font-size: 3.5vw;
  }
}