.battlesystemtitle {
  margin: 50px;
}

.battlesystem {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../images/leavebackground.png);
  background-size: cover;
}

.battlemethod {
  display: flex;
  margin: 10px 14%;
  justify-content: space-around;
  white-space: nowrap;
}

.gamesystembutton {
  font-family: "Noto Serif TC", serif;
  width: 100%;
  border: none;
  font-size: min(50px,5vw);
  transition-duration: 0.4s;
  margin: 0% 5%;
}

.active {
  background: url(../images/gamesystembuttonafter.png) center no-repeat;
  background-size: contain;
  color: black;
}

.inactive {
  background: url(../images/gamesystembuttonbefore.png) center no-repeat;
  background-size: contain;
  color: rgb(209, 168, 106);
}

.battlemethod button:hover {
  background: url(../images/gamesystembuttonafter.png) center no-repeat;
  background-size: contain;
  width: 100%;
  color: black;
}

.battlemethod button:active {
  box-shadow: none;
}

.battlemethoddetail {
  display: flex;
  justify-content: center;
  padding: 5% 5%;
}

.battlemethoddetail .battledescription {
  display: flex;
  align-items: flex-end;
  width: 50%;
  margin-right: -10vw;
}

.battlemethoddetail .battledescription .textbox {
  background: url(../images/gamesystemtextbox.png) no-repeat;
  background-size: contain;
  display: flex;
  z-index: 2;
  justify-content: center;
  width: 100%;
}

.battlemethoddetail .battledescription .textbox p {
  margin-bottom: 2rem;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
  padding: 6% 2% 6% 6%;
  word-wrap: break-word;
  width: 80%;
}

.battlevideo {
  position: relative;
  border: 12px solid;
  border-image: url(../images/gameplaygoldenborder.png);
  border-image-slice: 30%;
  border-image-width: 80px 80px;
  width: 50%;
  height: 26.5vw;
}

.battlemethoddetail video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
