.character {
  display: flex;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.country {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  overflow: hidden;
  border-left: 1px black ridge;
  box-sizing: border-box;
  opacity: 0.5;
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-in-out;
}

.country:hover {
  opacity: 1;
}

.country.active {
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 60px); ;
  z-index: 1;
  opacity: 1;
  border: none;
}

/* to change the direction of width transition */

.seraphinecontainer.active {
  left: 25%;
  transform: translate(-25%, 0);
}
.roamcontainer.active {
  /* expand from center */
  left: 50%;
  transform: translate(-50%, 0);
}
.timecontainer.active {
  right: 25%;
  transform: translate(25%, 0);
}
.moonislecontainer {
  right: 0;
}

.country img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.country .moonisle,
.country .time,
.country .roam {
  object-position: 80% 50%;
}

.country .seraphine {
  object-position: 35% 50%;
}

.country p {
  font-size: 3rem;
  font-weight: 100;
  padding-top: 10vw;
}

.country.active p{
  padding: 0px 20vw;
}

.country div p{
  font-size: 1.2rem;
  padding: 0px 20vw;
  animation: fadeIn 3s;
}

.country div {
  padding-bottom: 3vh;
  margin-bottom: 10vh;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
  animation: fadeIn 3s;
}

.country div button {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20vw;
  animation: fadeIn 3s;
  cursor: pointer;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 1000px) {
  .country div p{
    font-size: 0.7rem;
  }
}