/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.empty-shopping-cart {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 15% 15%;
  width: fit-content;
  gap: 20px;
  font-size: 25px;
}

.checkOutPage {
  opacity: 0.9;
  height: 100%;
  min-height: 100vh;
}

.checkout-container {
  color: white;
  display: flex;
  width: 63%;
  margin: 7% 5%;
  gap: 20px;
}

.left-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  border-bottom: 1px rgb(117, 117, 117) solid;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.list-item {
  margin-bottom: 2%;
}

.details-container {
  display: grid;
  grid-template-columns: 1.25fr 0.8fr 1.2fr 0.6fr;
  align-items: center;
  text-align: center;
  width: 70%;
}
.img-details {
  border-radius: 5px;
  width: 80%;
}

.img-container{
  width: 15%;
}

.name-details {
  text-align: left;
}

.right-container {
  position: fixed;
  width: 30%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1%;
  gap: 2.5vh;
  font-size: max(0.8rem, 2.5vh);
}

.paymentForm {
  font-size: max(0.8rem, 2vh);
}
.paymentForm input {
  height: 5vh;
}
.paymentForm  input::placeholder{
  font-size: max(0.8rem, 2vh);
}

.space-between-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.increase-btn,
.decrease-btn,
.remove-btn,
.payment-btn,
.shop-now-btn {
  border: none;
  padding: 2% 8%;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(134, 136, 137, 0.5);
  color: white;
  transition: background-color ease-in-out 0.3s;
}

.shop-now-btn {
  background-color: rgba(46, 199, 82, 0.5);
  padding: 10px 30px;
}

.payment-btn,
.remove-btn {
  width: 100%;
  padding: 10% 5%;
  background-color: rgba(6, 107, 147, 0.5);
}

.payment-btn {
  padding: 3% 5%;
}

.remove-btn {
  background-color: rgba(210, 40, 17, 0.5);
}

.shop-now-btn:hover {
  background: rgba(14, 166, 39, 0.25);
}

.payment-btn:hover {
  background: rgba(6, 107, 147, 0.25);
}

.remove-btn:hover {
  background: rgba(210, 40, 17, 0.25);
}

.decrease-btn:hover,
.increase-btn:hover {
  background: rgba(125, 119, 118, 0.25);
}

.quantity-details {
  width: 48px;
  height: 30px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 1100px) {
  .checkout-container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20% auto 5% auto;
    width: 90%;
    gap: 30px;
  }
  .right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .img-container {
    width: 17%;
  }
  .img-details {
    width: 100%;
  }
  .paymentForm {
    font-size: 1rem;
  }
  .paymentForm input {
    height: auto;
  }
  .paymentForm  input::placeholder{
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .product-container{
    gap: 0;
  }
  .details-container {
    width: 95%;
    font-size: 0.8rem;
  }
  .img-details {
    width: 100%;
  }
  .name-details {
    text-align: center;
  }
  .increase-btn,
  .decrease-btn,
  .remove-btn {
    padding: 1px 3px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(134, 136, 137, 0.267);
  }

  .remove-btn {
    width: 70px;
    padding: 3px 7px;
    background-color: rgba(210, 40, 17, 0.267);
  }

  .empty-shopping-cart {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    gap: 20px;
    font-size: 25px;
  }

  .quantity-details {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
  }
}
