.checkOutPage {
    background-color: grey;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10% auto;
    width: 80%;
}

.checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}
