.gachaSlide {
  margin-top: 1.5rem;
  border-radius: 10px;
  border: 1px solid white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 12rem;
  height: 12rem;
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.gachaBG0,
.gachaBG1,
.gachaBG2,
.gachaBG3,
.gachaBG4,
.gachaBG5,
.gachaBG6 {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: background-image 0.5s linear;
}

.gachaBG0 {
  background-image: url(../images/shop/anime-forest-scenery.jpg);
}

.gachaBG1 {
  background-image: url(../images/shop/gacha2-5BG.jpg);
}

.gachaBG2 {
  background-image: url(../images/shop/gacha4BG.jpg);
}

.gachaBG4 {
  background-image: url(../images/shop/gachashopBG4.jpg);
}

.gachaBG3 {
  background-image: url(../images/shop/gacha4BG_2.jpg);
}

.gachaBG5 {
  background-image: url(../images/shop/gacha6BG.jpeg);
}
.gachaBG6 {
  background-image: url(../images/shop/gacha7BG.jpg);
}

.gachaSlide img,
.carousel-inner {
  border-radius: 10px;
}

.gachaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gachaContainer h2 {
  margin-top: 1rem;
}

.gachaCharContainer h2 {
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.gachaCharContainer .table-dark {
  --bs-table-bg: transparent;
}

.gachaCharContainer {
  display: flex;
  border-radius: 10px;
  border: 1px solid;
  border-image: url(../images/goldborder.png);
  border-image-slice: 20%;
  border-image-width: 8% 16%;
  padding: 1rem 3rem;
  align-items: center;
  background-image: linear-gradient(#00000080, #00000080);
}

.gachaCharDes {
  flex: 1 0 50%;
}

.gachaCharContainer1 {
  border-radius: 30px;
}

.gachaCharContainer5,
.gachaCharContainer6,
.gachaCharContainer8 {
  background-image: none;
  border-image: url(../images/gameplaygoldenborder.png);
  border-image-slice: 20%;
  border-image-width: 4% 12%;
  flex-direction: column;
  padding: 2rem 0 0 0;
}

.gachaCharContainer7 {
  padding: 2rem 2rem 2rem 1.5rem;
}

.gachaChar5Des {
  background-color: rgba(0, 0, 0, 0.555);
  padding: 0rem 3rem 2rem 3rem;
  width: 100%;
}

.gachaCharContainer img {
  width: 50%;
}

.gachaCharContainer5 img {
  width: 70%;
}

.gachaCharContainer6 img {
  width: 70%;
}

.gachaCharContainer7 img {
  align-self: flex-start;
  border-radius: 20%;
}
.gachaCharContainer8 img {
  width: 70%;
}


.gachaCharContainer .charAbility {
  width: 10%;
}

.drawButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
  gap: 1rem;
}

.drawButton button {
  border: none;
  border-radius: 10px;
  background: transparent;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.drawButton button:hover,
.drawMachine .gameItemsInfo:hover {
  transform: scale(1.05);
}

.drawMachine {
  margin: 3rem 0;
  background-image: url(../images/shop/gachaMachine.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 1000px;
  align-items: flex-start;
  border-radius: 10px;
}

.drawMachine .gameItemsInfo {
  background-image: linear-gradient(#00000080, #00000080);
  transition: transform 0.2s ease-in-out;
}

.drawMachine .gameItemsInfo h3 {
  font-size: 1.2rem;
}

.gachaCongrat {
  text-shadow: 10px 10px 30px rgb(232, 193, 0);
  margin-top: 1rem;
}

.drawMachine .gameItemsInfo img {
  width: 80%;
  cursor: auto;
}

.drawMachine .gameItemsInfo .URprize {
  width: 50%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar2,
.drawMachine .gameItemsInfo .URprize.gachaChar2_5 {
  width: 70%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar3 {
  width: 100%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar4 {
  width: 80%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar5 {
  width: 110%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar6 {
  width: 120%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar8 {
  width: 120%;
}

.drawMachine .gameItemsInfo .URprize.gachaChar9 {
  width: 60%;
}


.drawMachine .gameItemsInfo.UR {
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff;
  /* outer right cyan */
}

.lootList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.shopPromotion {
  background-color: rgba(254, 255, 196, 0.705);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  position: fixed;
  right: 0%;
  top: 25%;
  border-radius: 10px 0px 0px 10px;
  padding-top: 1rem;
  min-width: 70px;
  cursor: pointer;
}

.shopPromotion h2 {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  background: -webkit-linear-gradient(top, #3a3300 30%, #161400 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shopPromotion img {
  width: 100%;
}

.shopPromotion .upArrow {
  width: 20px;
}

@media (max-width: 1200px) {
  .gachaCharContainer {
    flex-direction: column;
    align-items: center;
  }

  .gachaCharContainer img {
    width: 60%;
  }

  .gachaCharContainer5 img,
  .gachaCharContainer6 img,
  .gachaCharContainer8 img{
    width: 80%;
  }
  .gachaCharContainer7 {
    padding: 2rem;
  }
  .gachaCharContainer7 img {
    align-self: center;
  }
}

@media (max-width: 1000px) {
  .lootList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .gachaSlide {
    margin-top: 3rem;
  }

  .gachaCharContainer {
    padding: 1rem;
  }

  .gachaCharContainer5,
  .gachaCharContainer6 {
    padding: 0;
  }

  .gachaCharDes {
    padding: 0rem 1rem 1rem 1rem;
  }

  .drawMachine {
    min-height: 1229px;
  }
}
