.gachaSlide {
  margin-top: 6rem;
}

.gachaSlide img,
.carousel-inner {
  border-radius: 10px;
}

.gachaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gachaContainer h2 {
  margin-top: 1rem;
}

.gachaCharContainer .table-dark {
  --bs-table-bg: transparent;
}

.gachaCharContainer {
  display: flex;
  background-image: linear-gradient(#00000080, #00000080),
    url(../images/country/roam.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 1px solid;
  border-image: url(../images/goldborder.png);
  border-image-slice: 20%;
  border-image-width: 8% 16%;
  padding: 1rem 3rem;
  align-items: center;
}

.gachaCharContainer div {
  flex: 1 0 50%;
}

.gachaCharContainer2 {
  background-image: linear-gradient(#00000080, #00000080),
    url(../images/shop/gacha2BG.jpg);
  background-size: cover;
  background-position: center;
}

.gachaCharContainer2_5 {
  background-image: linear-gradient(#00000031, #00000030),
    url(../images/shop/gacha2-5BG.jpg);
  background-size: cover;
  background-position: center;
}

.gachaCharContainer3 {
  background-image: url(../images/shop/gacha3BG.jpg);
  background-size: cover;
  background-position: center;
}

.gachaCharContainer4 {
  background-image: url(../images/shop/gacha4BG.jpg);
  background-size: cover;
  background-position: center;
}

.gachaCharContainer img {
  width: 50%;
}

.gachaCharContainer .charAbility {
  width: 10%;
}

.drawButton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 3rem;
  gap: 1rem;
}

.drawButton button {
  border: none;
  border-radius: 10px;
  background: transparent;
  padding: 0;
  transition: transform 0.2s ease-in-out;
}

.drawButton button:hover,
.drawMachine .gameItemsInfo:hover {
  transform: scale(1.05);
}

.drawMachine {
  margin: 3rem 0;
  background-image: url(../images/shop/gachaMachine.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 1000px;
  align-items: flex-start;
  border-radius: 10px;
}

.drawMachine .gameItemsInfo {
  background-image: linear-gradient(#00000080, #00000080);
  transition: transform 0.2s ease-in-out;
}

.drawMachine .gameItemsInfo h3 {
  font-size: 1.2rem;
}

.gachaCongrat {
  text-shadow: 10px 10px 30px rgb(232, 193, 0);
  margin-top: 1rem;
}

.drawMachine .gameItemsInfo img {
  width: 80%;
  cursor: auto;
}

.drawMachine .gameItemsInfo .URprize {
  width: 50%;
}
.drawMachine .gameItemsInfo .URprize.gachaChar2,
.drawMachine .gameItemsInfo .URprize.gachaChar2_5 {
  width: 70%;
}
.drawMachine .gameItemsInfo .URprize.gachaChar3 {
  width: 100%;
}
.drawMachine .gameItemsInfo .URprize.gachaChar4 {
  width: 80%;
}

.drawMachine .gameItemsInfo.UR {
  box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
    /* inner left magenta short */ inset -20px 0 80px #0ff,
    /* inner right cyan short */ inset 20px 0 300px #f0f,
    /* inner left magenta broad */ inset -20px 0 300px #0ff,
    /* inner right cyan broad */ 0 0 50px #fff,
    /* outer white */ -10px 0 80px #f0f,
    /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}

.lootList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 1200px) {
  .gachaCharContainer {
    flex-direction: column;
    align-items: center;
  }
  .gachaCharContainer img {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .lootList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .gachaSlide {
    margin-top: 3rem;
  }
  .gachaCharContainer {
    padding: 1rem;
  }
  .drawMachine {
    min-height: 1229px;
  }
}
