.Gamesystem {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Gamesystemheading {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 750px;
  flex-direction: column;
}

.systemnav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 1;
  font-weight: bold;
}

.systemnavbox1 {
  display: flex;
  align-items: center;
  justify-content: center; 
  background: url(../images/gamesystem/systemnavimg.png) no-repeat;
  background-size: contain;
  width: 30%;
  height: 13vw;
  animation: fadeinbottom 1.5s ease;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
}

.systemnavbox2 {
  display: flex;
  align-items: center;
  justify-content: center; 
  background: url(../images/gamesystem/systemnavimg.png) no-repeat;
  background-size: contain;
  width: 30%;
  height: 13vw;
  animation: fadeinbottom 1.5s forwards 0.5s ease;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
  opacity: 0;
}

.systemnavbox3 {
  display: flex;
  align-items: center;
  justify-content: center; 
  background: url(../images/gamesystem/systemnavimg.png) no-repeat;
  background-size: contain;
  width: 30%;
  height: 13vw;
  animation: fadeinbottom 1.5s forwards 1s ease;
  font-family: "Noto Serif TC", serif;
  font-size: 2vw;
  opacity: 0;
}

.Gamesystemheading video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media (max-width: 700px) {
  .systemnav {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 65%;
  }

  .systemnavbox1 {
    width: 55%;
    height: 24vw;
    font-size: 4vw;
  }

  .systemnavbox2 {
    width: 55%;
    height: 24vw;
    font-size: 4vw;
  }

  .systemnavbox3 {
    width: 55%;
    height: 24vw;
    font-size: 4vw;
  }
}