.link {
  display: flex;
  gap: 50px;
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

a:hover {
  text-shadow: 0 0 5px #ffffff;
}

.link a {
  border-bottom: 3px solid transparent;
  border-radius: 2.5px;
}

.link a:hover {
  border-bottom: 3px #f6ffa3 solid;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(177, 240, 177, 0.5);
  height: 60px;
  z-index: 1;
}

.headerlogo {
  margin: 0;
  font-size: 2.5rem;
  font-family: "lifeCraft", "Aboreto", cursive;
}

.main {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
  background-image: url(../images/main.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.logo {
  font-size: 7rem;
  font-family: "lifeCraft", "Aboreto", cursive;
  font-weight: 400;
  color: white;
  margin-top: 250px;
  margin-bottom: 150px;
  text-align: center;
  width: 100%;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ac8c00,
      0 0 40px #ac8c00, 0 0 50px#ac8c00, 0 0 60px#ac8c00, 0 0 70px #ac8c00;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #c9a402, 0 0 40px #c9a402,
      0 0 50px #c9a402, 0 0 60px #c9a402, 0 0 70px #c9a402, 0 0 80px #c9a402;
  }
}

@media (max-width: 700px) {
  .main {
    font-size: 1.5rem;
  }
  .header {
    font-size: 1rem;
  }
  .link {
    gap: 25px;
  }
  .logo {
    font-size: 3rem;
  }
}
