.link {
  display: flex;
  align-items: center;
  gap: 50px;
}

a {
  position: relative;
  text-decoration: none;
  color: white;
  transition: all 0.4s ease-in-out;
}

a:hover,
.link button:hover {
  text-shadow: 0 0 5px #ffffff;
  color: white;
}

.link a {
  border-bottom: 3px solid transparent;
  border-radius: 2.5px;
}

.link a:hover,
.link button:hover {
  border-bottom: 3px #f6ffa3 solid;
  color: white;
}

.link button {
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 2.5px;
  color: white;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.link img,
.linkcard img {
  width: 20px;
}

.link .linkcard {
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  background: linear-gradient(
    180deg,
    rgba(6, 12, 9, 0.8),
    rgba(0, 255, 237, 0.1) 70.71%
  );
  height: 60px;
  z-index: 2;
}

.navContainer {
  position: relative;
  display: flex;
  /*  set to flex so that it stick on the top somehow */
}

.headerlogo {
  margin: 0;
  font-size: 2.5rem;
  font-family: "lifeCraft", "Aboreto", cursive;
  flex: 1;
  text-align: center;
}

.rightlink {
  justify-content: center;
  flex: 1;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  transform: translate(-40%);
  transition: all ease-in-out 0.4s;
  background: linear-gradient(
    180deg,
    rgba(6, 12, 9, 0.8),
    rgba(0, 255, 237, 0.1) 70.71%
  );
  min-width: 80px;
  padding: 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 0.8rem;
  visibility: hidden;
  opacity: 0;
}

.dropdown-content button,
.dropdown-content p {
  font-size: 0.8rem;
  padding: 10px 0px;
  margin: 0;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  height: 90vh;
}

.main video {
  width: 100%;
  height: 100%;
  object-position: 50% 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.logo {
  font-size: 10vw;
  font-family: "lifeCraft", "Aboreto", cursive;
  font-weight: 400;
  color: white;
  text-align: center;
  width: 100%;
}

.logoBottom {
  font-size: max(3vw, 1.2rem);
}

.awardsList {
  flex: 1;
  display: flex;
  background-color: rgba(0, 0, 0, 0.15);
  justify-content: center;
  align-items: center;
}
.awards {
  width: 30%;
}
.awards h2,
.awards p {
  background: -webkit-linear-gradient(top, #fff3b5 30%, #f4e678 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: min(1.8rem, 4.5vw);
}

@media (max-width: 700px) {
  .main video {
    display: none;
  }
  .main {
    background-image: url(../images/main.jpg);
    background-position: 0%;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
  }
  .header {
    font-size: 1rem;
    gap: 15px;
  }
  .rightlink {
    justify-content: end;
    padding-right: 1.5rem;
  }

  .inactiveWhenMobile,
  .linkcard.inactiveWhenMobile {
    display: none;
  }
  .logo {
    font-size: 4.5rem;
    margin-top: 20vh;
  }
  .awardsList{
    flex-direction: column;
  }
  .awards{
    width: 80%;
  }
}
