.news {
  padding: 3rem 15%;
  padding-bottom: 4.5rem;
}

.news h2 {
  margin-top: 0px;
  text-align: center;
}

.newsCard {
  border: 5px solid;
  border-image: url(../images/goldborder.png);
  border-image-slice: 10%;
  border-image-width: 6.5% 7%;
  padding: 0.5% 0.5% 0 0.5%;
  border-radius: 10px;
}

.newsCard video,
.newsCard img {
  position: relative;
  z-index: -1;
  border-radius: 3vw;
  width: 100%;
  object-fit: cover;
  vertical-align: top;
}

.newsCard div {
  margin-top: 25%;
  margin-left: 10%;
  font-size: 2.5rem;
  font-weight: 500;
}

.phoneix,
.spider {
  object-position: 50% 100%;
}

.newshead {
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.slick-dots li button:before {
  color: rgb(255, 255, 255) !important;
}

.slick-arrow {
  border-radius: 50%;
}

@media (max-width: 700px) {
  .news {
    padding: 1.5rem 2% 3rem 2%;
  }
}
