.productContainer {
  display: flex;
  margin-top: 1.5rem;
  width: 100%;
}

.productContainer img {
  width: 45%;
  align-self: flex-start;
  border: 1px rgb(117, 117, 117) solid;
}

.productContainer .detailCart {
  padding: 0.7rem 1.5rem;
}

.productContainer .detail-btn {
  padding: 0.2rem 0.8rem;
  margin: 0 0.5rem;
}

.productContainer h2 {
  font-size: 1.8rem;
  border-bottom: 1px rgb(117, 117, 117) solid;
}

.productContainer p, .productSpecial {
  font-size: 1rem;
}

.productContainer .price {
  font-size: 1.4rem;
  color: rgb(245, 103, 103);
}

.productContainer input {
  width: 10%;
  text-align: center;
}

.productdetailcontainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0rem 2rem;
  width: 100%;
}

.productSpecial {
  width: 100%;
}

.shopPolicy {
  list-style: decimal;
  align-self: flex-start;
}

.shopHome hr {
  align-self: stretch;
}

@media (max-width: 1000px) {
  .productContainer {
    flex-direction: column;
    align-items: center;
  }
  .productContainer img {
    width: 100%;
    align-self: center;
  }
  .productdetailcontainer {
    padding: 0;
  }
}
