.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.gamecopy {
  margin-top: 110px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 100%;
  max-width: 1200px;
}

.gamecopy .gameProductInfo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5vw;
  border: 5px solid;
  border-image: url(../images/goldborder.png);
  border-image-slice: 10%;
  border-image-width: 40px 70px;
  padding: 4vw 5vw;
  box-sizing: content-box;
}

.gameProductInfo div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
}

.gameProductInfo img {
  width: 40%;
  border-radius: 10px;
}

.gameProductInfo h3,
.price {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
}

.gameProductInfo p {
  margin: 0;
}

.gamecopy button {
  align-self: flex-start;
  border: none;
  padding: 10px 30px;
  font-size: 1.2rem;
  border-radius: 10px;
  background-color: rgba(154, 240, 255, 0.558);
  color: white;
  transition: background-color ease-in-out 0.3s;
}

.gamecopy button:hover {
  background: rgba(0, 132, 184, 0.267);
}

@media (max-width: 700px) {
  .gamecopy {
    gap: 50px;
    margin-top: 110px;
    margin-bottom: 50px;
    font-size: 0.8rem;
  }

  .gameProductInfo h3,
  .price,
  .gameProductInfo button {
    margin: 0;
    font-size: 1rem;
  }
  .gamecopy .gameProductInfo {
    gap: 5vw;
    padding: 20px 40px;
    border-image-width: 20px 30px;
  }
  .gamecopy .gameProductInfo img {
    width: 100px;
  }
}
