.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  align-items: center;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
}

.shopDivider {
  font-size: 1.7rem;
  border-bottom: 1px rgb(117, 117, 117) solid;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
}

.shopMargin {
  margin-top: 5rem;
}

.shopDivider h2 {
  font-size: 1.7rem;
}

.withSort {
  display: flex;
  justify-content: space-between;
}

.shopFirstDivider {
  margin-top: calc(1.5rem + 60px);
}

.shopwrapper {
  display: flex;
  justify-content: center;
  flex: 1;
}

.shopNav {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  width: 218px;
  font-size: 1.2rem;
  padding: 3% 0%;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgb(54, 54, 54);
}
.shopNav hr {
  align-self: stretch;
}

.shopNav a {
  margin-left: 1rem;
}

.shopHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
}

.gamecopy {
  display: flex;
  margin-bottom: 3rem;
  gap: 1.5rem;
}

.gamecopy .gameProductInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3% 5%;
  border: 5px solid;
  border-image: url(../images/gameplaygoldenborder.png);
  border-image-slice: 20%;
  border-image-width: 8% 8%;
  background-image: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.9),
      rgba(206, 192, 0, 0.4) 70.71%
    ),
    url(../images/frame_flower_mandal_element_generated.png);
}

.gamecopy h2,
.gameItems h2,
.gameMerch h2 {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  margin: 0;
}

.gameProductInfo div {
  padding: 0 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  gap: 1rem;
}

.gameProductInfo img {
  width: 40%;
  border-radius: 10px;
  box-shadow: -2px 0.5px 10px black;
}

.gameProductInfo h3,
.price {
  margin: 0;
  font-size: clamp(0.8rem, 1.2vw, 1.4rem);
  font-weight: 700;
}

.gameProductInfo p,
.gameItemsInfo p {
  margin: 0;
}

.gameMerchInfo {
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.202);
}

.gameMerchInfo div {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.2vw;
}

.gameItemsInfo.gameMerchInfo h2 {
  width: 100%;
}

.gameItemsInfo.gameMerchInfo img {
  width: 100%;
}

.addToCart {
  align-self: flex-start;
  border: none;
  padding: 5% 10%;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  border-radius: 10px;
  background-color: rgb(36, 119, 133);
  color: white;
  transition: background-color ease-in-out 0.3s;
}

.addToCart:hover {
  background: rgba(36, 119, 133, 0.5);
}

.gameItems,
.gameMerch {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
  margin: 0;
  padding: 0 0 3rem 0;
}

.gameMerch {
  grid-template-columns: repeat(3, 1fr);
}

.merchPromo {
  width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: -2px 0.5px 10px black;
}

.gameItemsInfo {
  box-shadow: -2px 0.5px 10px black;
}

.gameItemsInfo,
.gameItemsDes,
.gameItemsHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.2vw;
  border: 0.5px solid rgb(117, 117, 117);
}

.gameItemsDes {
  flex: 1;
  padding: 5% 8%;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.sortButton {
  text-align: end;
}

.URgameItem,
.SSRgameItem,
.SRgameItem,
.RgameItem,
.NgameItem {
  width: 100%;
  background: linear-gradient(
    217deg,
    rgba(254, 255, 220, 0.9),
    rgba(197, 255, 247, 0.4) 70.71%
  );
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.URgameItem {
  background: linear-gradient(
    217deg,
    rgb(253, 211, 255),
    rgb(255, 74, 222) 70.71%
  );
}

.SSRgameItem {
  background: linear-gradient(
    217deg,
    rgba(254, 255, 220, 0.9),
    rgb(162, 130, 0) 70.71%
  );
}

.SRgameItem {
  background: linear-gradient(
    217deg,
    rgba(0, 203, 88),
    rgba(217, 253, 220, 0.709) 70.71%
  );
}

.NgameItem {
  background: linear-gradient(
    217deg,
    rgba(255, 185, 116, 0.9),
    rgb(105, 56, 0) 70.71%
  );
}

.gameItemsInfo button {
  padding: 4% 7%;
  align-self: center;
}
.gameItemsInfo img {
  width: 60%;
  cursor: pointer;
}
.ilevel {
  font-style: italic;
}
.gameItemsInfo h2,
.gameItemsInfo div h2 {
  padding-bottom: 1%;
  border-bottom: 1px groove #a5aa1f;
  text-align: center;
}

.gameItemsInfo a,
.gameItemsInfo div h2 {
  width: 85%;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}
.active > .page-link {
  background-color: rgb(0, 151, 151) !important;
}

.moreWeapon {
  margin-bottom: 3rem;
}

.buyingpopup {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: #2abd6ae6;
  z-index: 2;
  padding: 1% 3%;
  border-radius: 10px;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.buyingpopup img {
  transition: transform 0.3s ease-out;
}

.buyingpopup img:hover {
  transform: scale(1.2);
}

.buyingpopup p {
  margin: 0;
}

@media (max-width: 1000px) {
  .gamecopy {
    flex-direction: column;
  }
  .gameItems,
  .gameMerch {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .shopwrapper {
    flex-direction: column;
  }
  .shopMargin,
  .shopFirstDivider {
    margin: 0;
  }
  .shopHome {
    padding: 0;
  }
  .shopNav {
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    width: 90%;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
  }
  .shopNav a {
    margin: 0;
  }
  .shopNav hr {
    display: none;
  }
}
