.shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.gamecopy {
  margin-top: calc(3rem + 60px);
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
}

.gamecopy .gameProductInfo{
  font-size: clamp(0.6rem, 1.3vw, 1.3rem);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: min(4rem, 5vw);
  border: 5px solid;
  border-image: url(../images/gameplaygoldenborder.png);
  border-image-slice: 20%;
  border-image-width: 8% 8%;
  padding: 5%;
  box-sizing: content-box;
}

.gamecopy h2{
  font-size: clamp(1rem, 2.5vw, 2rem);
  margin: 0;
}

.gameProductInfo div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
}

.gameProductInfo img {
  width: 40%;
  border-radius: 10px;
  box-shadow: -2px 0.5px 10px black;
}

.gameProductInfo h3,
.price {
  margin: 0;
  font-size: clamp(0.7rem, 1.6vw, 1.7rem);
  font-weight: 700;
}

.gameProductInfo p {
  margin: 0;
}

.gamecopy button {
  align-self: flex-start;
  border: none;
  padding: 5% 10%;
  font-size: clamp(0.7rem, 1.4vw, 1.7rem);
  border-radius: 10px;
  background-color: rgba(154, 240, 255, 0.558);
  color: white;
  transition: background-color ease-in-out 0.3s;
}

.gamecopy button:hover {
  background: rgba(0, 132, 184, 0.267);
}

.buyingpopup {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: #2abd6ae6;
  z-index: 2;
  padding: 1% 3%;
  border-radius: 10px;
  font-size: clamp(0.6rem, 1.3vw, 1.2rem);
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}

.buyingpopup img {
  transition: transform 0.3s ease-out;
}

.buyingpopup img:hover {
  transform: scale(1.2);
}

.buyingpopup p {
  margin: 0;
}
