#root {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.5s ease-out;
}

a:hover {
  transform: scale(1.15);
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(177, 240, 177, 0.5);
  height: 100px;
  border-radius: 0px 0px 20px 20px;
}

.main {
  background-image: url(./images/main.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.logo {
  font-size: 4rem;
  margin-top: 150px;
  white-space: nowrap;
}

.mainDescription {
  max-width: 30vw;
  margin-left: 200px;
}

.des {
  font-size: 2.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.dreadrealm {
  width: 500px;
  border-radius: 10px;
  margin: 30px;
  border: 1px white groove;
  margin-right: 0px;
}

.dreadrealmCard {
  display: flex;
  font-size: max(2.4vw, 1.2rem);
  color: white;
  align-items: center;
}

.banner {
  width: 100%;
  background-color: aqua;
  height: 50px;
}

.bannertext {
  padding: 20px;
}

@media (max-width: 700px) {
  .mainDescription {
    max-width: 50vw;
    margin-left: 50px;
  }
  .header {
    font-size: 1.2rem;
  }
  .logo {
    font-size: 2.5rem;
  }
  .des {
    font-size: 1.2rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dreadrealm {
    width: 400px;
    margin: 20px;
  }
  .dreadrealmCard {
    flex-direction: column;
  }
}
